{% extends "layout.html" %}

{% block content %}
<div class="container d-flex justify-content-center mt-5" style="min-height: calc(100vh - 56px);">
    <div class="text-center" style="max-width: 400px; width: 100%; margin-top: auto; margin-bottom: 25%;">
        <img src="\static\ARNAVAC.png" class="img-thumbnail border-0" width="50%" height="50%">
        <div class="form-group">
            <label for="searchTopic">Topic to search</label>
            <form method="POST" action="/home">
                <input type="text" name="searchTopic" id="searchTopic" class="form-control" placeholder="Enter topic here" required>
                <button type="submit" class="btn btn-primary mt-2">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
