{% extends "layout.html" %}

{% block content %}
<div class="container d-flex justify-content-center mt-5" style="min-height: calc(100vh - 56px);">
    <div class="text-center" style="max-width: 400px; width: 100%; margin-top: auto; margin-bottom: 25%;">
        <img src="\static\ARNAVAC.png" class="img-thumbnail border-0" width="50%" height="50%">
        <div class="form-group">
            <label for="searchTopic">Topic to search</label>
            <input type="text" class="form-control mx-auto" style="width: 100%;" id="searchTopic" placeholder="Enter topic here">
        </div>
        <form method="post" action="/search">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
