{% extends "layout.html" %}

{% block content %}
<table class="table table-hover table-dark mx-auto text-center" style="width: 100%; table-layout: fixed;">
    <colgroup>
        <col style="width: 33%;">
        <col style="width: 33%;">
        <col style="width: 33%;">
    </colgroup>
    <thead>
        <tr class="align-middle">
            <th scope="col">Search</th>
            <th scope="col">Date</th>
            <th scope="col">Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for summary in summaries %}
        <tr class="align-middle">
            <td>{{ summary['id'] }}</td>
            <td>{{ summary['date_created'] }}</td>
            <td>{{ summary['summary'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
